@media (min-width: 608px) {

    header,
    main,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto 420px 24px;
    }

    .navigation {
        display: block;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .changer {
        grid-column: 4 / 5;
        margin-right: 10px;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .list section {
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .first-row {
        display: grid;
        grid-template-columns: auto 25% 25%;
        gap: .8rem;
    }

    #spotlights {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        align-items: center;
        margin: 0 10px;
        min-height: auto;
    }

    .spotlight-card {
        display: grid;
        grid-template-columns: minmax(50px, 40%) 1fr;
        grid-template-rows: auto;
        gap: 0.5rem;
    }
}